/**
 * @name Dark Matter Violet
 * @author ._lillium_., prip0305
 * @version 0.4
 * @description A cold, dark & frosty theme.
 * @sourcehttps:https://github.com/eekx3/darkmattervioletedit
*/

@import url('https://raw.githubusercontent.com/eekx3/darkmattervioletedit/main/base.css');

/* Variables */
:root {
    --avatar-size: 64px;
    --background-image: url('https://i.imgur.com/7SbtKvw.png');
    --background-solid: #161921;
    --background-solid-dark: #101218;
    --background-solid-darker: #0c0e12;
    --accent: 127, 0, 255;
    --accent-alt: 127, 0, 255;
}
