/**
 * @name Dark+
 * @author Lillium, Prip
 * @description v0.5
*/

@import url('https://raw.githubusercontent.com/eekx3/darkmattervioletedit/main/src/V2.css');

:root {
  --avatar-size: 64px;
  --darkplus-bg: #090a0e;
  --darkplus-bg2: #13151d;
  --darkplus-sec: #bb86fc;
  --darkplus-links: #cdaef3;
  --darkplus-home-icon: url(https://i.ibb.co/6rnwVhV/imagem-2024-07-01-181914332.png);
  --watermark-filter-invert: 0%;
  --watermark-filter-sepia: 50%;
  --watermark-filter-saturate: 3000%;
  --watermark-filter-hue-rotate: 210deg;
  --watermark-filter-brightness: 70%;
  --watermark-filter-contrast: 200%;
  --darkplus-emoji-picker-color: 210deg;
  --accent: 127, 0, 255;
  --accent-alt: 127, 0, 255;
}
