
:root {
  --darkplus-bg: #212121;
  --darkplus-bg2: #302f2f;
  --darkplus-sec: #bb86fc;
  --darkplus-links: #cdaef3;
  --darkplus-home-icon: url(https://devevil.com/betterdiscord/dark%2b-logo.png);
  --watermark-filter-invert: 0%;
  --watermark-filter-sepia: 50%;
  --watermark-filter-saturate: 3000%;
  --watermark-filter-hue-rotate: 210deg;
  --watermark-filter-brightness: 70%;
  --watermark-filter-contrast: 200%;
  --darkplus-emoji-picker-color: 210deg;
}

.bg_d4b6c5,
.container_e40c16,
.scrollerInner_e2e187,
.container_e44302.themed_e44302,
.content-2a4AW9,
.sidebarRegion_c25c6d,
.searchBar_f0963d,
.scroller_c47fa9.thin_eed6a8.scrollerBase-_bVAAt.fade-1R6FHN,
.panel_bf1a22.activityPanel_a4d4d9,
.container_b2ca13,
.form_a7d72e,
.scroller_e2e187,
.peopleList_e0840f.auto-2K3UW5.scrollerBase-_bVAAt,
.children_e44302:after,
.nowPlayingSidebar-2OFn0o,
.customStatusActivity-WKWGD-,
.nameTagWithCustomStatus-5c-v3-.nameTag-2Nlmsy.nameTag_be84f0,
.member_cbd271,
.membersGroup_cbd271,
.topSection-13QKHs,
.container_bf550a,
.wrapper_cd82a7,
.header_fd6364,
.mention_c10249,
.mentioned_d5deea,
.mentioned_d5deea:before,
.mentioned_d5deea:hover,
.iconBadge_e44302,
.container_b2ca13 .button_f67531:nth-child(1) .contents-3ca1mk path,
.container_b2ca13 .button_f67531:nth-child(2) .contents-3ca1mk path,
.container_b2ca13 .button_f67531:nth-child(3) .contents-3ca1mk path,
.container_b2ca13 .button_f67531:nth-child(4) .contents-3ca1mk path,
.attachButton_f298d4 .contents-3ca1mk path,
.attachButton_f298d4:hover .attachButtonPlus_f298d4,
.button_dd4f85 .contents-3ca1mk path,
.button_ef319f path,
.item-1OdjEX path,
.iconWrapper_e44302 path,
.linkButtonIcon_c91bad path,
.actionButton_e01b91 path,
.buttonIcon_adcaac path,
.icon_effbe2 path,
.actionIcon_f6f816 path,
.wrapper_d8bfb3.modeUnreadImportant_d8bfb3 .wrapper_d8bfb3 .mainContent-20q_Hp .icon_d8bfb3,
.wrapper_d8bfb3 .wrapper_d8bfb3 .mainContent-20q_Hp .icon_d8bfb3,
.wrapper_d8bfb3.modeUnreadImportant_d8bfb3 .wrapper_d8bfb3 .mainContent-20q_Hp .channelName-3KPsGw,
.metadataIcon_f316dd path,
.controlIcon_f316dd path,
.data-slate-string path,
.winButton_a934d8,
.VoiceChatNotifications-button-icon,
.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG,
.topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG,
.side-2ur1Qk .themed-2-lozF.item-3XjbnG:hover:not(.disabled-1nofHP),
.topPill-3DJJNV .themed-2-lozF.item-3XjbnG:hover:not(.disabled-1nofHP),
.progressBar-1T6LYX,
.mediaBarWrapper_f7877e .mediaBarGrabber_f7877e,
.mediaBarProgress_f7877e,
.mediaBarProgress_f7877e::after,
.mediaBarProgress_f7877e::before,
.mediaBarInteraction_f7877e:hover .mediaBarGrabber_f7877e,
.stageSection-3mAD8V,
.featuredTag-3pT1Rf,
.colorHeaderPrimary-jN_yGr,
.lookFilled-yCfaCM.colorGreen-3y-Z79,
.scroller_ad8f79,
.header_f1629a,
.headerCellContent_b4bea4,
.theme-dark .lookFilled-yCfaCM.colorPrimary-2AuQVo,
.theme-dark .lookFilled-yCfaCM.hoverGreen-1KfT6K.hasHover-26V98q:hover,
.theme-light .lookFilled-yCfaCM.hoverGreen-1KfT6K.hasHover-26V98q:hover,
.nameCellText_f1629a,
.scroller_c100ff,
.anchor-1MIwyf,
.icon_effbe2,
.iconContainer_effbe2,
.search_ff5f90,
.searchBar-zdmu7v,
.focused-8aNhVB .searchBar-zdmu7v,
.open-3y3yI_ .searchBar-zdmu7v,
.searchBar-zdmu7v:hover,
.downloadButton__3fb6d,
.downloadButton__3fb6d:hover,
.name_e9f61e,
.title_e44302,
.children_e9f61e,
.headerText_c47fa9,
.clickable_e44302 .icon_e44302,
.clickable_e44302:hover .icon_e44302,
.item_c2739c.item-3XjbnG.themed-2-lozF,
.childWrapper_a6ce15 path,
.wrapper_f90abb[data-list-item-id="guildsnav___home"] .childWrapper_f90abb,
.wrapper_f90abb[data-list-item-id="guildsnav___home"] .childWrapper_f90abb svg,
.anchor-1MIwyf.anchorUnderlineOnHover-2qPutX,
.grid_ad0b71,
.contents_f9f2ca .messageContent_f9f2ca, 
.container_b558d0,
.messageContent_f9f2ca:empty,
.markup_d6076c blockquote,
.markup_d6076c pre,
.avatar_f9f2ca.clickable_f9f2ca,
.avatar_f9f2ca:hover.clickable_f9f2ca:hover,
.title_a7c06a,
.pillText-20DG_U,
.pillWrapper_f497f6:not(.highlightedUnread-3gqUqO),
.activityPanelIcon-2VTxRL,
.pillText-20DG_U,
.pillWrapper_f497f6:not(.highlightedUnread-3gqUqO),
.activityPanelIcon-2VTxRL,
.avatarWrapper-30o5d2 .avatar_f9f2ca,
.avatarWrapper-30o5d2 .avatar_f9f2ca img,
.markup_d6076c .highlightCursor_d6076c,
.messagesWrapper_a2zIRb,
.messageCozy_b6_6Sp,
.messageGroupWrapper_RhYo9W,
.markup_d6076c .highlightMe_d6076c,
.markup_d6076c .highlightMe_d6076c:hover,
.markup_d6076c .highlightMe_d6076c:focus,
.sidebarScroller-3wCfT,
.sidebarScroller-3wCfT:hover,
.sidebarScroller-3wCfT:focus,
.sidebarScroller-3wCfT:active,
.sidebarScroller-3wCfT.focusVisible-1pEn1R,
.sidebarScroller-3wCfT[data-focus-override="true"],
.layer-l9V6Xz .sidebarScroller-3wCfT,
.markup_d6076c .highlightMe_d6076c:hover::selection,
.markup_d6076c .highlightMe_d6076c:focus::selection,
.markup_d6076c .highlightMe_d6076c:active::selection,
.markup_d6076c .highlightMe_d6076c[data-focus-override="true"]::selection,
.sidebarScroller-3wCfT,
.container_ad8f79,
.messageCozy_b6_6Sp,
.messageGroupWrapper_RhYo9W,
.markup_d6076c .highlightMe_d6076c,
.markup_d6076c .highlightMe_d6076c:hover,
.markup_d6076c .highlightMe_d6076c:focus,
.markup_d6076c .highlightMe_d6076c:active,
.markup_d6076c .highlightMe_d6076c[data-focus-override="true"],
.theme-dark .searchBarInput-2wUJQb {
  background-color: var(--darkplus-bg) !important;
  color: var(--darkplus-sec) !important;
}

.username-1Xgk5X {
  color: var(--darkplus-sec) !important;
}

.guilds-1Rx01w {
  background-color: var(--darkplus-bg2) !important;
}

.wrapper-1_HaEi {
  background-image: var(--darkplus-home-icon) !important;
}

.anchor-1MIwyf {
  color: var(--darkplus-links) !important;
}

.markup-2BOw-j code,
.markup-2BOw-j pre {
  background-color: var(--darkplus-bg2) !important;
}

.avatar-2U_-4r {
  background-color: var(--darkplus-bg) !important;
}
