:root {
  --darkplus-bg: #212121;
  --darkplus-bg2: #302f2f;
  --darkplus-sec: #bb86fc;
  --darkplus-links: #cdaef3;
  --watermark-filter-invert: 0%;
  --watermark-filter-sepia: 50%;
  --watermark-filter-saturate: 3000%;
  --watermark-filter-hue-rotate: 210deg;
  --watermark-filter-brightness: 70%;
  --watermark-filter-contrast: 200%;
  --darkplus-emoji-picker-color: 210deg;
}

.bg_d4b6c5,
.container_e40c16,
.scrollerInner_e2e187,
.container_e44302.themed_e44302,
.content-2a4AW9,
.sidebarRegion_c25c6d,
.searchBar_f0963d,
.scroller_c47fa9.thin_eed6a8.scrollerBase-_bVAAt.fade-1R6FHN,
.panel_bf1a22.activityPanel_a4d4d9,
.container_b2ca13,
.form_a7d72e,
.scroller_e2e187,
.peopleList_e0840f.auto-2K3UW5.scrollerBase-_bVAAt,
.customStatusActivity-WKWGD-,
.nameTagWithCustomStatus-5c-v3-.nameTag-2Nlmsy.nameTag_be84f0,
.member_cbd271,
.container_bf550a,
.header_fd6364,
.mention_c10249,
.mentioned_d5deea,
.iconBadge_e44302,
.form_a7d72e .channelTextArea_a7d72e .scrollableContainer_d0696b,
.attachButton_f298d4:hover .attachButtonPlus_f298d4,
.wrapper_cd82a7 .inset_c0f6a6,
.header_f1629a,
.theme-dark .lookFilled-yCfaCM.colorPrimary-2AuQVo,
.scroller_ad8f79,
.theme-dark .lookFilled-yCfaCM.hoverGreen-1KfT6K.hasHover-26V98q:hover,
.theme-dark .lookFilled-yCfaCM.colorGrey-2iAG-B,
.theme-dark .footer-31IekZ,
.members_cbd271,
.theme-dark .wrapper_d4fa29,
.thin_eed6a8.scrollerBase-_bVAAt,
.membersWrap_cbd271 .members_cbd271,
.theme-dark .uploadModal_f82cc7,
.theme-dark .footer_f82cc7,
.sidebarRegionScroller_c25c6d,
.contentRegion_c25c6d .contentRegionScroller_c25c6d,
.background_b69b77,
.background_b69b77 .fieldList_b69b77,
.layer_d4b6c5,
.theme-dark .foreground-2hyALB,
.theme-dark .bd-social-logo path,
.feature-2IUcBI,
.theme-dark .lookLink-15mFoz.colorPrimary-2AuQVo,
.theme-dark .lookLink-15mFoz.colorPrimary-2AuQVo:hover,
.search_ff5f90,
.wrapper__8436d.selected_ae80f7 .childWrapper_a6ce15,
.header_c96274,
.chatContent_a7d72e,
.theme-dark .container_b2ca13,
.lookFilled-yCfaCM.colorRed-rQXKgM,
.lookLink-15mFoz.colorLink-1Md3RZ,
.lookLink-15mFoz.colorPrimary-2AuQVo,
.header-2Kx1US,
.label-2wRs_g,
.h5-2RwDNl,
.title-2dsDLn,
.winButton_a934d8,
.circleIconButton_db6521,
.colorHeaderSecondary-g5teka,
.footerTitle-3Bslxi,
.title-1LqMUp,
.colorHeaderPrimary-jN_yGr,
.children_fc4f04:after,
.infoScroller-1QMpon.thin_eed6a8.scrollerBase-_bVAAt.fade-1R6FHN,
.header-1zd7se,
.lookFilled-yCfaCM.colorGreen-3y-Z79,
.lookFilled-yCfaCM.colorBrand-I6CyqQ,
.downloadButton__3fb6d,
.icon_effbe2,
.search_ff5f90,
.downloadButton__3fb6d:hover,
.downloadButton__3fb6d,
.form_a7d72e .channelTextArea_a7d72e .textArea_d0696b .placeholder__443e5,
.headerText_c47fa9,
.downloadButton__3fb6d,
.downloadButton__3fb6d:hover,
.downloadButton__3fb6d,
.lookFilled-yCfaCM.colorBrand-I6CyqQ,
.lookFilled-yCfaCM.colorBrand-I6CyqQ:disabled,
.downloadButton__3fb6d,
.downloadButton__3fb6d:hover,
.downloadButton__3fb6d,
.colorStandard-21JIj7,
.lookFilled-yCfaCM.colorBrand-I6CyqQ,
.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover,
.downloadButton__3fb6d,
.downloadButton__3fb6d:hover,
.downloadButton__3fb6d,
.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG,
.side-2ur1Qk .themed-2-lozF.item-3XjbnG:hover:not(.disabled-1nofHP),
.downloadButton__3fb6d,
.downloadButton__3fb6d:hover,
.downloadButton__3fb6d,
.theme-dark .footer_f82cc7,
.avatar_e9f61e,
.base-21yXnu,
.guildName_eb1ca6,
.searchTitle-1qceKb,
.search-25t1e9 .searchBox-31Zv9h,
.search-25t1e9 .searchBox-31Zv9h .searchIcon-3X4BYL,
.search-25t1e9 .searchBox-31Zv9h .searchBoxInput-3h4etz::placeholder,
.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover,
.theme-dark .uploadModal_f82cc7,
.theme-dark .footer_f82cc7,
.size14-3fJ-ot,
.filename_f82cc7,
.scrollableContainer_d0696b,
.label_f82cc7,
.optional_f82cc7 {
  background-color: var(--darkplus-bg);
  color: var(--darkplus-sec);
}

.searchBar_f0963d .searchBarComponent_f0963d,
.form_a7d72e .channelTextArea_a7d72e .scrollableContainer_d0696b,
.scrollableContainer_d0696b,
.grid_ad0b71 {
  background-color: var(--darkplus-bg2);
  border-radius: 20px;
}

.form_a7d72e .channelTextArea_a7d72e {
  background-color: transparent;
}

.form_a7d72e:before,
.children_e44302:after,
.mentioned_d5deea:before,
.button_ef319f path,
.iconWrapper_e44302 path,
.actionButton_e01b91 path,
.buttonIcon_adcaac path,
.metadataIcon_f316dd path,
.controlIcon_f316dd path,
.data-slate-string path,
.numberBadge__40d6f,
.headerCellContent_b4bea4,
.lookFilled-yCfaCM.colorPrimary-2AuQVo,
.lookFilled-yCfaCM.hoverGreen-1KfT6K.hasHover-26V98q:hover,
.theme-dark .lookFilled-yCfaCM.colorGrey-2iAG-B,
.avatarUploaderIndicator-2G-aIZ,
.item-3XjbnG.themed-2-lozF,
.avatar_e9f61e {
  display: none;
}

.wrapper_cd82a7:hover,
.wrapper_cd82a7.active_c0f6a6,
.icon_effbe2:hover,
.clickable_e44302:hover .icon_e44302,
.downloadButton__3fb6d:hover,
.avatar_f9f2ca:hover.clickable_f9f2ca:hover,
.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover,
.icon_effbe2:hover,
.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover,
.avatar_f9f2ca:hover.clickable_f9f2ca:hover,
.avatar_f9f2ca:hover.clickable_f9f2ca:hover {
  background-color: var(--darkplus-links);
  color: var(--darkplus-bg);
}

.wrapper_cd82a7 .section_cd82a7,
.button_dd4f85 .contents-3ca1mk path,
.lookFilled-yCfaCM.colorBrand-I6CyqQ,
.lookLink-15mFoz.colorLink-1Md3RZ,
.addButtonIcon_a08117,
.circleIconButton_db6521,
.title-1LqMUp,
.colorHeaderSecondary-g5teka,
.addButtonIcon_a08117:hover,
.subtext_e06aad,
.iconBadge-3qSJIw,
.label-2wRs_g,
.colorStandard-21JIj7,
.icon_effbe2 {
  fill: var(--darkplus-sec);
}

.winButton_a934d8,
.VoiceChatNotifications-button-icon,
.circleIconButton_db6521.selected_db6521,
.activeButtonChild_a06035,
.lookFilled-yCfaCM.colorBrand-I6CyqQ,
.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover,
.size14-3fJ-ot,
.channelTextArea_a7d72e,
.fieldList_b69b77,
.downloadButton__3fb6d,
.downloadButton__3fb6d:hover,
.downloadButton__3fb6d,
.lookFilled-yCfaCM.colorBrand-I6CyqQ:disabled,
.scrollableContainer_d0696b,
.filename_f82cc7,
.fieldList_b69b77,
.headerText_c47fa9,
.size14-3fJ-ot,
.icon_effbe2 {
  color: var(--darkplus-bg);
}

.button_ef319f path,
.actionButton_e01b91 path,
.buttonIcon_adcaac path,
.metadataIcon_f316dd path,
.controlIcon_f316dd path {
  fill: var(--darkplus-sec);
}

.button_e44302 {
  background: var(--darkplus-bg2);
  border-radius: 50%;
}

.header_e44302 {
  background-color: var(--darkplus-bg2);
}

.selected_ae80f7 .childWrapper_a6ce15 {
  background-color: var(--darkplus-bg2);
}

:root .username-1A8OIy {
  color: var(--darkplus-sec);
}

:root .mention_e44302 {
  background-color: var(--darkplus-sec);
}

:root .mention_e44302:hover {
  background-color: var(--darkplus-sec);
}

:root .titleText-2NLfFP {
  background-color: var(--darkplus-sec);
}

.iconBadge_e44302,
.form_a7d72e .channelTextArea_a7d72e .scrollableContainer_d0696b,
.grid_ad0b71,
.lookFilled-yCfaCM.colorBrand-I6CyqQ,
.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover,
.theme-dark .uploadModal_f82cc7,
.theme-dark .footer_f82cc7,
.lookFilled-yCfaCM.colorBrand-I6CyqQ:disabled,
.theme-dark .footer_f82cc7,
:root .contentRegion_scroller_3BwfCe {
  background-color: var(--darkplus-bg2);
}

.scrollbar-_bVAAt .scrollbarWrapper-_bVAAt {
  background-color: var(--darkplus-bg2);
}

.lookFilled-yCfaCM.colorBrand-I6CyqQ,
.lookFilled-yCfaCM.colorBrand-I6CyqQ:disabled {
  background-color: var(--darkplus-links);
}

:root .lookLink-15mFoz.colorLink-1Md3RZ,
:root .lookLink-15mFoz.colorPrimary-2AuQVo,
.headerText_c47fa9,
.downloadButton__3fb6d,
.downloadButton__3fb6d:hover,
.downloadButton__3fb6d {
  background-color: var(--darkplus-bg2);
}

.avatar_e9f61e {
  background-color: var(--darkplus-bg);
  color: var(--darkplus-bg);
}
